input {
  all: unset;
}



nav {
    max-width: 800px;
    margin: auto;
    font-size: 1.5em;
}


nav ul {
    font-family: 'Arvo', serif;
    font-size: 1.5em;
    font-weight: 400;
    background-color: #fffdd0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
     list-style-type: none;
}


nav ul li {
    flex-flow: row wrap;
    list-style-type: none;
    padding: 1rem;
    max-width: 100%;
}

header {
    font-family: 'Bitter', serif;
    font-size: 5em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6d0ff;
}


body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: azure;

}

p{
 font-family: 'IBM Plex Sans', sans-serif;
 font-size: 1em;
 font-weight: 400;
 display: flex;
justify-content: center;
}


main {
    width: 90%;
    max-width: 1000px;
    background:lightyellow ;
    border-radius: 1rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin: 1rem auto;
}


ul a{
 font-family: 'Arvo', serif;
 /* font-size: 1em;  
 font-weight: 300; */
 display: flex;
 align-items: center;
 justify-content: center;
}

a:link {
    color: #b35a00;
    text-decoration: none;
}

a:visited {
     color: #00b3b3;
     text-decoration: none;
}

a:hover {
     color: #b3005a;
     text-decoration: none;
}

a:active {
      text-decoration: none;
}

footer {
display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
font-family: 'Bitter', serif;
    font-size: 2.5em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
font-family: 'Bitter', serif;
    font-size: 2em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center
}

h3 {
font-family: 'Bitter', serif;
    font-size: 1.5em;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    border: none;
}

.album-cover {
    display: flex;
    justify-content: center;
}

.album-cover img{
    max-width: 300px;
    border: none;

}

.photo-credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: cornflowerblue;
    border-radius: 0.5em;
    font-family: 'IBM Plex Sans', sans-serif;
     font-size: 1em;
     font-weight: 400;
     display: flex;
    align-items: center;
    justify-content: center;

 }


ul {
 font-family: 'IBM Plex Sans', sans-serif;
 font-size: 1.25em;  
 font-weight: 300; 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 list-style-type: square;
}


footer {
    background-color: lightcoral;
    font-family: 'Bitter', serif;
    font-size: 1em;
    font-weight: 500;
}


.location-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20em;

}


.text-holder {
box-sizing: border-box;
margin: 1rem 0;
}

.text-holder p{
    padding-left: 18em;
    padding-right: 18em;
}




/* media queries start here */

@media screen and (max-width: 555px) {
            nav ul {
            font-family: 'Arvo', serif;
            font-size: 1.5em;
            font-weight: 400;
            background-color: #fffdd0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-around;
            text-decoration: none;
             list-style-type: none;
            }

            nav {
                max-width: 800px;
                margin: auto;
                font-size: 1.5em;
            }

            nav ul li {
                flex-flow: column;
                list-style-type: none;
                padding: 1rem;
                max-width: 100%;
            }       

            body {
                background-color: forestgreen;
            }
}

@media screen and (min-width: 800px){
    body {
    background-color: cornflowerblue;
    }
}

@media screen and (min-width: 1000px){
    body {
        background-color: azure;
    }
}


